@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

@keyframes translate-menu {
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.dropdown {
    width: 100%;
    
    &__bar {
        @include flex();
        justify-content: space-between;
        background-color: $main-color;
        border-radius: 0.625em;
        padding: 0.625em 1.25em 0.625em 0.625em;
        cursor: pointer;
    }
    
    &__title {
        font-weight: 700;
        color: #fff;
        font-size: 1.125em;
    }

    &__content {
        position: relative;
        margin-top: -0.625em;
        z-index: -1;
        background-color: rgba($color: #F6F6F6, $alpha: 0.45);
        padding: 1.625em 1.25em 1.25em 1.25em;
        font-size: 1.125em;
        transform-origin: top;
        animation: forwards 300ms ease-out translate-menu;
        
        &--hidden {
            animation-direction: reverse;
            display: none;
        }
    }

    &__arrow {
        transition: transform 300ms ease-out;
        
        &--active {
            transform: rotate(-180deg);
            transition: transform 300ms ease-out;
        }
    }
}