@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.dropdown {
    width: 100%;
    position: relative;
    overflow: hidden;

    &--about-page {
        margin-top: 1.875em;

        @include small-screen() {
            margin-top: 1.25em;
        }
    }

    &__bar {
        @include flex ($justify: space-between, $align: center);
        background-color: $main-color;
        border-radius: 0.313em;
        
        @include small-screen() {
            padding: 0.625em;
        }

        &--lodging-page {
            padding: 0.625em 1.25em 0.625em 0.625em;
        }

        &--about-page {
            padding: 0.625em 0.938em;
        }
    }

    &__title {
        font-weight: 700;
        color: $secondary-color;

        @include small-screen() {
            font-size: 0.813em;
        }

        &--lodging-page {
            font-size: 1.125em;
        }

        &--about-page {
            font-size: 1.5em;
        }
    }

    &__content {
        position: absolute;
        margin-top: -0.625em;
        background-color: rgba($color: #F6F6F6, $alpha: 0.45);
        font-size: 1.125em;
        padding: 1.625em 1.25em 1.25em 1.25em;
        z-index: -1;
        transform-origin: top;
        transform: translateY(0);
        transition: transform 300ms ease-out;
        width: 100%;

        @include small-screen() {
            font-size: 0.75em;
        }

        &--hidden {
            transform: translateY(-100%);
        }
    }

    &__content-spacing {
        position: relative;
        margin-top: -0.625em;
        padding-top: 0.625em;
        height: 0;
        transition: height 300ms ease-out;
        width: 100%;
    }

    &__arrow {
        transition: transform 300ms ease-out;
        cursor: pointer;

        @include small-screen() {
            width: 1em;
            height: 0.563em;
        }

        &--active {
            transform: rotate(-180deg);
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}