@use "../../styles/mixins" as *;

@mixin border-radius-about-img() {
    border-radius: 1.563em;

    @include small-screen() {
        border-radius: 0.625em;
    }
}

.about-section {
    max-width: 1240px;
    margin: 2.375em auto;

    @include small-screen() {
        margin: 1.188em auto;
    }
}

.dropdown-container {
    margin: 0 6.75em;
    padding-top: 0.5em;

    @include small-screen() {
        margin: 0;
        padding-top: 0;
    }
}