@use "../../styles/mixins" as *;

@mixin border-radius-about-img() {
    border-radius: 1.563em;

    @include small-screen() {
        border-radius: 0.625em;
    }
}

.about-section {
    max-width: 1240px;
    margin: 2.375em auto;

    @include small-screen() {
        margin: 1.188em auto;
    }

    &__img-container {
        position: relative;
        height: 14em;
        width: 100%;

        @include small-screen() {
            height: 7em;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.30);
            @include border-radius-about-img();
        }
    }

    &__img {
        @include cover-img();
        @include border-radius-about-img();
    }

    // specifique size to the About page
    .dropdown {
        margin-top: 1.875em;

        @include small-screen() {
            margin-top: 1.25em;
        }

        &__bar {
            padding: 0.625em 0.938em;
        }

        &__title {
            font-size: 1.5em;
        }

        @include dropdown-small-screen();
    }
}

.dropdown-container {
    margin: 0 6.75em;
    padding-top: 0.5em;

    @include small-screen() {
        margin: 0;
        padding-top: 0;
    }
}