@use "../../styles/mixins" as *;

@mixin background-main-section () {
    border-radius: 1.563em;
    height: 14em;
    width: 100%;
}

.main-section {
    position: relative;
    background-image: url("../../assets/background-image-main-title.png");
    background-position: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.625em;
    @include background-main-section();
    @include max-width();

    &::after {
        content: "";
        position: absolute;
        opacity: 0.6;
        background-color: #000;
        @include background-main-section();
    }

    &__title {
        z-index: 1;
        font-weight: 700;
        font-size: 3em;
        color: #fff;
        text-shadow:
            -1px -1px 0 black,
            /* for text line */
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black,
            0 4px 4px rgba(0, 0, 0, 0.25);
        /* for the drop shadow */
    }
}

.card-section {
    background-color: #F6F6F6;
    border-radius: 1.563em;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: min(4.16vw, 3.75em);
    row-gap: min(3.47vw, 3.125em);
    padding: min(3.88vw, 3.5em) min(3.47vw, 3.125em) min(3.05vw, 2.75em) min(3.47vw, 3.125em);
    height: min(57.56vw, 51.875em);
    @include max-width();
    margin-bottom: 3.125em;
}