@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.home-section {
    max-width: 1240px;
    margin: 3.125em auto 0 auto;

    @include small-screen() {
        margin-top: 1.688em;
    }
}

.card-wrapper {
    background-color: #F6F6F6;
    border-radius: 1.563em;
    display: grid;
    margin-top: 2.625em;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: min(4.16vw, 3.75em);
    row-gap: min(3.47vw, 3.125em);
    padding: min(3.88vw, 3.5em) min(3.47vw, 3.125em) min(3.05vw, 2.75em) min(3.47vw, 3.125em);
    height: min(57.56vw, 51.875em);
    margin-bottom: 3.125em;
    @include max-width();

    @include small-screen() {
        @include flex($direction: column);
        height: 100%;
        padding: 0;
        background-color: $secondary-color;
        row-gap: 5.33vw;
        margin-top: 1.375em;
    }
}