@use "../../styles/mixins" as *;

.card {
    position: relative;
    border-radius: 0.625em;
    width: 100%;
    height: 100%;

    &__img {
        @include cover-img();
        border-radius: 10px;
    }

    &__title {
        position: absolute;
        left: 1.25em;
        bottom: 1.25em;
        font-size: 1.125em;
        font-weight: 700;
        color: #fff;
    }
}