@use "../../styles/mixins" as *;

.header {
    margin: 0 min(6.94vw, 6.25em);

    @include small-screen() {
        margin: 0 5.33vw;
    }

    &__wrapper {
        @include flex($justify: space-between, $align: center);
        @include max-width();
        margin-top: 2.813em;

        @include small-screen() {
            margin-top: 1.25em;
        }
    }

    &__navbar {
        display: flex;
        font-weight: 500;
        font-size: 1.5em;
        gap: 3.5em;
        
        @include small-screen() {
            font-size: 0.75em;
        }
        
        & > a {
            @include small-screen() {
                text-transform: uppercase;
            }

            &:hover {
                text-decoration: underline;
            }
        }

    }

    &__kasa {
        @include small-screen() {
            width: 145px;
            height: 47px;
        }
    }
}