@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.lodgement-section {
    @include max-width();
    margin-top: 3.125em;
    margin-bottom: 3.125em;
}

.carousel {
    position: relative;
    height: 25.938em;
    
    &__img {
        @include cover-img();
        border-radius: 25px;
    }

    &__arrow-left {
        @include center-absolute ();
        left: 1.438em;
    }

    &__arrow-right {
        @include center-absolute ();
        right: 1.438em;
    }

    &__number {
        position: absolute;
        bottom: 0;
        right: 50%;
        font-size: 1.125em;
        font-weight: 500;
        color: #fff;
    }
}

.location-and-host-container {
    @include flex ();
    justify-content: space-between;
    margin-top: 1.875em;
    padding-bottom: 1.5em;
}

.location-container {
    @include flex ($direction: column);

    &__title {
        font-weight: 500;
        font-size: 2.25em;
        color: $main-color;
        margin-bottom: 2px;
    }

    &__location {
        font-weight: 500;
        font-size: 1.125em;
    }
}

.tags-wrapper {
    @include flex ();
    gap: 0.625em;
    margin-top: 1.25em;

    &__tag {
        color: #fff;
        background-color: $main-color;
        border-radius: 0.625em;
        padding: 0.188em 0.625em;
        min-width: 7.188;
        text-align: center;
    }
}

.host-rating-container {
    @include flex ($direction: column, $justify: space-between);
}

.host-container {
    @include flex ($align: center, $justify: flex-end);
    gap: 0.625em;

    &__img {
        border-radius: 50%;
        height: 4em;
        width: 4em;
    }

    &__name {
        color: $main-color;
        font-size: 1.125em;
        font-weight: 500;
        text-align: right;
    }
}

.rating-container {
    @include flex();
    gap: 0.875em;
    margin-right: 0.313em;
    margin-bottom: 0.813em;
}

.dropdown-bar {
    @include flex ();
    gap: min(5.27vw, 4.75em);
}